@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
	background-color: #000;
	color: white;
	font-family: 'Bebas Neue', sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

.header {
	position: absolute;
	left: 0;
	width: 100%;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.header__menu {
	display: flex;
	gap: 30px;
}

select {
	border: 1px solid white;
	border-radius: 5px;
	background-color: transparent;
	padding: 5px;
	color: white;
	color: #000;
	font-size: 14px;
}

.header__actions {
	display: flex;
	align-items: center;
	gap: 24px;
}

.header__line {
	background-color: #fff;
	width: 1px;
	height: 30px;
}

.header__box {
	display: flex;
	align-items: center;
	gap: 17px;
}

.logo {
	display: flex;
	justify-content: flex-start;
}

.link {
	border-radius: 4px;
	background: linear-gradient(181.15deg, rgba(255, 181, 72, 1), rgba(243, 175, 52, 1) 100%);
	padding: 19px 30px;
	color: #1a1917;
	font-weight: 700;
	line-height: 22px;
}

/* ----------------------------------------- */
.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1230px;
}

/* ----------------------------------------- */

.hero {
	background: url('../img/hero-bg.jpg') no-repeat center / cover;
}

.hero__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.hero__title {
	font-size: 80px;
	letter-spacing: 0.03em;
}

.hero__text {
	margin-bottom: 28.5px;
	font-size: 24px;
	letter-spacing: 0.02em;
}

.hero__link {
	border-radius: 4px;
	background-color: #f3af34;
	padding: 20px 16px;
	color: #1a1917;
	font-weight: 700;
}

/* -----------Req------------ */

.req {
	background: url('../img/Group\ 2.jpg') no-repeat center / cover;
	padding-top: 145px;
	padding-bottom: 175px;
	min-height: 100vh;
}
.req__text {
	margin-bottom: 133px;
	text-align: center;
}
.req__p {
	margin-bottom: 8px;
}
.req__h2 {
	font-size: 80px;
}
.box {
	border: 1px solid rgba(255, 255, 255, 1);
	max-width: 573.2px;
	min-height: 400.69px;
	color: aliceblue;
	font-weight: 400;
	font-size: 24px;
	font-family: Bebas Neue;
}
.box_os {
	margin-bottom: 24px;
	border: 2px solid rgba(255, 255, 255, 1);
}
.box_mEMORY {
	margin-bottom: 24px;
	border: 2px solid rgba(255, 255, 255, 1);
}
.box__pROCESSOR {
	margin-bottom: 24px;
	border: 2px solid rgba(255, 255, 255, 1);
}
.box__storage {
	margin-bottom: 24px;
	border: 2px solid rgba(255, 255, 255, 1);
}
.box__GRAPHICS {
	margin-bottom: 24px;
	border: 2px solid rgba(255, 255, 255, 1);
}

.box__inner {
	display: flex;
}

.box__item {
	padding: 15px 0 31px 20px;
}
.box__p {
	color: rgba(255, 181, 72, 1);
}

.quotes {
	padding-block: 150px;
}
.container {
}
.quotes__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}
.quotes__info {
	display: flex;
	flex-direction: column;
	max-width: 454px;
}
.quotes__header {
}
.quotes__caption {
	display: block;
	margin-bottom: 9px;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 2px;
}
.quotes__title {
	margin-bottom: 40px;
	font-weight: 700;
	font-size: 80px;
	letter-spacing: 2px;
}
.quotes__text {
	margin-bottom: 40px;
	font-size: 18px;
	line-height: 22px;
}
.quotes__link {
	width: fit-content;
}

.quotes__cards {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-left: auto;
	width: 100%;
}
.quotes__card {
	margin-left: auto;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 14px 18px 20px 18px;
	width: 100%;
	max-width: 460px;
	min-height: 205px;

	&:nth-child(2) {
		margin-right: 144px;
	}
	&:nth-child(3) {
		margin-right: 40px;
	}
}
.quotes__card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.quotes__card-box {
	display: flex;
	align-items: center;
	gap: 31px;
}
.quotes__card-avatar {
	position: relative;
	img {
		border-radius: 50%;
		width: 65px;
		height: 65px;
	}

	&::before {
		position: absolute;
		right: -1px;
		bottom: 0;
		z-index: -1;
		border-radius: 50%;
		background-color: #ffb548;
		width: 53px;
		height: 53px;
		content: '';
	}
}
.quotes__card-text {
}
.quotes__card-name {
	display: block;
	color: #ffb548;
	font-size: 24px;
	letter-spacing: 2px;
}
.quotes__card-prof {
	color: rgba(255, 255, 255, 0.5);
	font-size: 18px;
	font-family: 'Roboto';
}
.quotes__card-link {
}
.quotes__card-comment {
	margin-bottom: 10px;
	font-size: 18px;
	font-family: 'Roboto';
}
.quotes__card-date {
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
	font-family: 'Roboto';
}
