@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  color: white;
  background-color: #000;
  font-family: "Bebas Neue", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  position: absolute;
  left: 0;
}

.header__nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  gap: 30px;
}

select {
  border: 1px solid white;
  color: white;
  background-color: transparent;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  color: #000;
}

.header__actions {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__line {
  width: 1px;
  background-color: #fff;
  height: 30px;
}

.header__box {
  display: flex;
  gap: 17px;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

/* ----------------------------------------- */
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}

/* ----------------------------------------- */

.hero {
  background: url("../img/hero-bg.jpg") no-repeat center / cover;
}

.hero__content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__title {
  font-size: 80px;
  letter-spacing: 0.03em;
}

.hero__text {
  margin-bottom: 28.5px;
  font-size: 24px;
  letter-spacing: 0.02em;
}

.hero__link {
  background-color: #f3af34;
  color: #1a1917;
  font-weight: 700;
  padding: 20px 16px;
  border-radius: 4px;
}

/* -----------Req------------ */

.req {
  background: url("../img/Group\ 2.jpg") no-repeat center / cover;
  min-height: 100vh;
  padding-top: 145px;
  padding-bottom: 175px;
}

.req__text {
  text-align: center;
  margin-bottom: 133px;
}

.req__p {
  margin-bottom: 8px;
}

.req__h2 {
  font-size: 80px;
}

.box {
  color: aliceblue;
  font-family: Bebas Neue;
  font-size: 24px;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 1);
  max-width: 573.2px;
  min-height: 400.69px;
}

.box_os {
  margin-bottom: 24px;
  border: 2px solid rgba(255, 255, 255, 1);
}

.box_mEMORY {
  margin-bottom: 24px;
  border: 2px solid rgba(255, 255, 255, 1);
}

.box__pROCESSOR {
  margin-bottom: 24px;
  border: 2px solid rgba(255, 255, 255, 1);
}

.box__storage {
  margin-bottom: 24px;
  border: 2px solid rgba(255, 255, 255, 1);
}

.box__GRAPHICS {
  margin-bottom: 24px;
  border: 2px solid rgba(255, 255, 255, 1);
}

.box__inner {
  display: flex;
}

.box__item {
  padding: 15px 0 31px 20px;
}

.box__p {
  color: rgba(255, 181, 72, 1);
}


.sub {}

.container {}

.sub {}

.container {}

.sub__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub__qustion {
  margin-bottom: 5px;
}

.sub__name {
  font-size: 55px;
  margin-bottom: 40px;
}

.sub__info {
  max-width: 500px;
  margin-bottom: 45px;
}

.sub__span {
  color: #979797;
  display: block;
}

.sub__links {
  display: flex;
  gap: 18px;
  align-items: center;
}

.sub__now {
  background-color: #f3af34;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 260px;
  height: 60px;
  border-radius: 4px;


}

.sub__email {
  background-color: #1a1917;
  color: #ffb548;
  max-width: 366px;
  min-height: 60px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: star;
  justify-content: center;
  padding-left: 21px;

}